# Copy this file to terraform.tfvars and customize values
resource_group_name = "rg-aks-helm-project"
location            = "canadacentral"
acr_name            = "greekgodacr"  # Must be globally unique, lowercase alphanumeric only
aks_name            = "greekgodcluster"
node_count          = 2
vm_size             = "Standard_D2s_v3"
